.projectcard {
  --backgroundcolor: #15023a;
  --font-size: 14px;
  font-size: var(--font-size);
  margin-right: 50px;
  padding: 7px;
  border-radius: 10px;
  cursor: pointer;
}
.projectcard.active {
  background-color: var(--backgroundcolor);
  color: white;
}
@media (max-width: 768px) {
  .projectcard {
    margin-right: 20px;
  }
}
