.portfolio-page {
  font-family: "Poppins", sans-serif;
  min-width: 100%;
  min-height: 100%;
}
header {
  --text: #f4f4f4;
  --text-inverse: #333;
  --background: transparent;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 999;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2em 3em;
  transition: background 250ms ease-in;
  background: var(--background);
  color: var(--text);
}
.nav-scrolled {
  --text:#333;
  --text-inverse: #f4f4f4;
  --background: #f4f4f4;
  box-shadow: 0 3px 20px rgba(0, 0, 0, 0.2);
}
.portfolio-intro {
  padding: 50vh 0;
  background: rgb(91, 121, 151) url(../../images/2014_Guatemala.jpeg);
  background-size: cover;
  background-blend-mode: multiply;
  color: white;
  text-align: center;
}
.portfolio-intro h1 {
  --font-size: 3em;
  font-size: var(--font-size);
  margin: 0;
}
.portfolio-about {
  padding: 2em 0;
  max-width: 900px;
  margin: 0 auto;
}
.project-section {
  width: 100%;
  height: calc(100vh - 70px);
  position: relative;
}